/* 
    Document   : branding
    Created on : Jul 12, 2011, 3:29:20 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

.wheel_fade{
    background-image: url(../images/img_brand_starz_fade.png);
    /*    border: 1px dotted gray;*/
    position:absolute;
    height: 51px;
    width: 1080px;
    margin-top: -113px;
    z-index: 1;
}

#brand_background {
    background-image: url(../images/img_brand_starz_base.jpg);
    height: 573px;
    width: 1080px;
    margin-top: 382px;
    position:absolute;
    z-index: -1;
}
#brand_category_logo {
    background-image: url(../images/img_brand_starz_logo_category.png);
    width: 150px;
    height: 40px;
    margin: 123px 0 0 815px;
    position: absolute;
    background-repeat:no-repeat;
    
}
#brand_asset_logo {
    background-image: url(../images/img_brand_starz_logo_asset.png);
/*    border:1px white dotted;*/
    width: 100px;
    height: 30px;
    margin: -24px 0 0 210px;
    position: absolute;
    background-repeat:no-repeat;
    z-index: 0;

}
#brand_cp_category {
    background-image: url(.../images/);
}
